<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <h1>Bienvenido a la Gestión de Torneos</h1>
  <nav>
    <ul>
      <li><a th:href="@{/equipos}">Equipos</a></li>
      <li><a th:href="@{/torneos}">Torneos</a></li>
      <li><a th:href="@{/jugadores}">Jugadores</a></li>
      <li><a th:href="@{/balon_oro}">Balones de Oro</a></li>
      <li><a th:href="@{/usuarios}">Usuarios</a></li>

    </ul>
  </nav>

  <div class="header-buttons">
    <a href="/registro" class="registro-btn">Registrar</a>

  </div>

</header>
<section>
  <p>Selecciona una opción del menú para empezar.</p>
</section>
<footer>
  <div class="footer-content">
    <p>© 2025 Todos los derechos reservados</p>
    <p>Creado por <strong>Jorge Sobrino</strong></p>
  </div>
</footer>